footer {
    background-color: green;
    color: #333;               
    padding: 20px;             
}
header {
    background-color: red;
    color: #333;               
    padding: 20px;             
}